body{
        padding-top: 70px;
}

dt, dd {
line-height: inherit;
}

h1{
        margin-top:0;
}

label{
        margin-top:1em;
}

.datetime label,
.time label,
.date label { display: block; }
.datetime select.form-control,
.time select.form-control,
.date select.form-control { width:auto; display:inline-block;}
