body{
        font-family : 'Times New Roman';
}

/* make sidebar nav vertical */ 
@media (min-width: 768px){
        .affix-content .container {
                width: 700px;
        }   

        html,body{
                background-color: #f8f8f8;
                height: 100%;
                overflow: hidden;
        }
        .affix-content .container .page-header{
                margin-top: 0;
        }

        .affix-sidebar{
                padding-right:0; 
                font-size:small;
                padding-left: 0;
        }  
        .affix-row, .affix-container, .affix-content{
                height: 100%;
                overflow: auto;
                margin-left: 0;
                margin-right: 0;  

        } 
        .affix-content{
                background-color:white; 
        } 
        .sidebar-nav .navbar .navbar-collapse {
                padding: 0;
                max-height: none;
        }
        .sidebar-nav .navbar{
                border-radius:0; 
                margin-bottom:0; 
                border:0;
        }
        .sidebar-nav .navbar ul {
                float: none;
                display: block;
        }
        .sidebar-nav .navbar li {
                float: none;
                display: block;
        }
        .sidebar-nav .navbar li a {
                padding-top: 12px;
                padding-bottom: 12px;
        }  
}

@media (min-width: 769px){
        .affix-content .container {
                width: 600px;
        }
        .affix-content .container .page-header{
                margin-top: 0;
        }  


}

@media (min-width: 992px){
        .affix-content .container {
                width: 900px;
        }
        .affix-content .container .page-header{
                margin-top: 0;
        }
        #content{
                padding-top: 0px;
        }
}

@media (min-width: 1220px){
        .affix-row{
                overflow: hidden;
        }

        .affix-content{
                overflow: auto;
        }

        .affix-content .container {
                width: 1000px;
        }

        .affix-content .container .page-header{
                margin-top: 0;
        }
        .affix-content{

        }  
        .affix-title{
                border-bottom: 1px solid #ecf0f1; 
                padding-bottom:10px;
        }
        .navbar-nav {
                margin: 0;
        }
        .navbar-collapse{
                padding: 0;
        }
        .sidebar-nav .navbar li a:hover {
                background-color: #428bca;
                color: white;
        }
        .sidebar-nav .navbar li a > .caret {
                margin-top: 8px;
        }  
}




.page-header{
        border:none;
        text-align: center;

}


.page-header h1{
        background: white;
        margin-left:  2em;
        margin-right: 2em;
        padding: 1em;
        position: absolute;
        top:-200px;
}

.content-row{
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em;
}

#content{
        padding-top: 20px;
}

.home_message{
        text-align: center;
        position: fixed;
        float:right;
        background:white;
        opacity: 0.9;
        padding: 1em;
        width:300px;
        bottom:100px;
        right:100px;
        box-shadow: 1px 1px 12px #555;
}


.home_title{
        font-size: 2em;
        margin-bottom: 0.5em;
        font-family : 'Times New Roman';
        font-style: italic;
        color:#CCC;
}

.home_content{

        font-size: 1.3em;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: "Times New Roman";
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
}